
@{
    ViewBag.Title = "View";
}

<h2>Entity Framework 6.0 Code First Demo for MVC5</h2>
<br />
@Html.ActionLink("List of Employees", "Index", "Employees")
<br/>

@Html.ActionLink("List of Departments", "Index", "Departments")


